<div class="log-container">
    <div class="log" x-log-default-provided="{% if log_content is defined %}1{% else %}0{% endif %}" x-log-source="{{ log_source }}">
        <div class="log-content">
            {% if log_content is defined %}
                {{ log_content|raw }}
            {% endif %}
        </div>
    </div>
    {% if day is defined %}
        <div class="log-day-select">
            <div>
                {% for i in day..1 %}
                <div class="tab {% if day == i %}current{% endif %}" x-day="{{ i }}">
                    <div>{{ 'Tag'|trans({}, 'game') }} {{ i }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>