{% extends "ajax/ajax.html.twig" %}
{% block menu_text %}
    {{parent()}}
    <li class="back-dash" x-ajax-href="{{ url('game_landing') }}">{{ 'Zum Spiel'|trans({},'global') }}</li>
{% endblock %}
{% block title %}{{ 'Foren-Mod.'|trans({}, 'admin') }}{% endblock %}
{% block ajax %}
    <div class="row">

        <div class="cell rw-12">
            <ul class="tabs plain" x-tab-group="admin-forum" x-tab-control x-tab-default="{{ tab }}">
                <li class="tab" x-tab-id="dash"><div class="tab-link">{% trans from 'admin' %}Übersicht{% endtrans %}</div></li>
                <li class="tab" x-tab-id="snippets"><div class="tab-link">{% trans from 'admin' %}Kurztexte{% endtrans %}</div></li>
            </ul>

            <div x-tab-group="admin-forum" x-tab-id="dash" x-tab-target>
                <h5>{{ 'Foren-Meldungen'|trans({},'admin') }}</h5>
                {% if not all_shown %}
                    <div class="note">
                        {{ 'Posts mit nur einer Meldung werden ausgeblendet.'|trans({},'admin') }}
                        <a href="#" x-ajax-href="{{ path('admin_reports', {opt: 'all'}) }}">{{ 'Alle anzeigen'|trans({},'admin') }}</a>
                    </div>
                {% endif %}

                {% if bin_shown %}
                    <div class="note">
                        {{ 'Du siehst aktuell gelöschte Meldungen.'|trans({},'admin') }}
                        <a href="#" x-ajax-href="{{ path('admin_reports', {opt: ''}) }}">{{ 'Zurück zur Meldungsübersicht'|trans({},'admin') }}</a>
                    </div>
                {% else %}
                    <div class="note">
                        {{ 'Möchtest du bereits gelöschte Meldungen durchsuchen?'|trans({},'admin') }}
                        <a href="#" x-ajax-href="{{ path('admin_reports', {opt: 'bin'}) }}">{{ 'Zum Papierkorb'|trans({},'admin') }}</a>
                    </div>
                {% endif %}
                <div class="row-table">
                    <div class="row header">
                        <div class="cell rw-3 rw-md-12 padded">{{ "Forum" |trans({}, 'admin') }}</div>
                        <div class="cell rw-2 rw-lg-3 hide-sm hide-md padded">{{ "Autor" |trans({}, 'admin') }}</div>
                        <div class="cell rw-1 hide-sm hide-md hide-lg padded">#</div>
                        <div class="cell rw-4 hide-sm hide-md padded">{{ "gemeldet von" |trans({}, 'admin') }}</div>
                        <div class="cell rw-2 hide-sm hide-md padded">{{ "Aktionen" |trans({}, 'admin') }}</div>
                    </div>
                    {% for post in posts %}
                        <div class="row">
                            <div class="cell padded rw-3 rw-md-6">
                                <a href="{{path('forum_jump_view', {pid: post['post'].id})}}" target="_blank">{{ post['post'].thread.forum.title }}</a>
                            </div>
                            <div class="cell padded rw-2 rw-lg-3 rw-md-6">
                                <span>{{ post['post'].owner.name }}</span>
                            </div>
                            <div class="cell padded rw-1 hide-sm hide-md hide-lg">
                                <span>{{ post['count'] }}</span>
                            </div>
                            <div class="cell padded rw-4 rw-md-8">
                                {% set iteration = 0 %}
                                {% for reporter in post['reporters'] %}
                                    {% if iteration > 0 %}
                                        <span>{{ ", " ~ reporter.name }}</span>
                                    {% else %}
                                        <span>{{ reporter.name }}</span>
                                    {% endif %}
                                    {% set iteration = iteration + 1 %}
                                {% endfor %}
                            </div>
                            <div class="cell padded rw-2 rw-md-4 right">
                                {% if not bin_shown %}
                                    <button class="small inline" x-report-action="seen-reports" x-post-id={{ post['post'].id }}>{{ 'Gesehen'|trans({}, 'admin') }}</button>
                                    <button class="small inline" x-report-action="clear-reports" x-post-id={{ post['post'].id }}>{{ 'Löschen'|trans({}, 'admin') }}</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h5>{{ 'PN-Meldungen'|trans({},'admin') }}</h5>
                <div class="row-table">
                    <div class="row header">
                        <div class="cell rw-3 rw-sm-12 padded">{{ "Titel" |trans({}, 'admin') }}</div>
                        <div class="cell rw-lg-3 hide-sm hide-md padded">{{ "Autor" |trans({}, 'admin') }}</div>
                        <div class="cell rw-1 hide-sm hide-md hide-lg padded">#</div>
                        <div class="cell rw-4 hide-sm hide-md padded">{{ "gemeldet von" |trans({}, 'admin') }}</div>
                        <div class="cell rw-2 hide-sm hide-md padded">{{ "Aktionen" |trans({}, 'admin') }}</div>
                    </div>
                    {% for gpm in gpms %}
                        <div class="row">
                            <div class="cell-small padded rw-1 hide-sm hide-md hide-lg small">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="cell-small padded rw-5 rw-lg-6 rw-md-12">
                                <span>{{ gpm.post.receiverGroup.name }}</span>
                            </div>
                            <div class="cell padded rw-2 rw-lg-3 rw-md-6">
                                <span>{{ gpm.post.sender.name }}</span>
                            </div>
                            <div class="cell padded rw-1 hide-sm hide-md hide-lg">
                                <span>{{ gpm.count }}</span>
                            </div>
                            <div class="cell padded rw-4 rw-md-8">
                                {% set iteration = 0 %}
                                {% for reporter in gpm.reporters %}
                                    {% if iteration > 0 %}
                                        <span>{{ ", " ~ reporter.name }}</span>
                                    {% else %}
                                        <span>{{ reporter.name }}</span>
                                    {% endif %}
                                    {% set iteration = iteration + 1 %}
                                {% endfor %}
                            </div>
                            <div class="cell padded rw-2 rw-md-4 right">
                                <button class="small inline" x-report-action="open-gpm-reports" x-post-id={{ gpm.post.id }}>{{ 'Öffnen'|trans({}, 'admin') }}</button>
                                {% if not bin_shown %}
                                    <button class="small inline" x-report-action="seen-gpm-reports" x-post-id={{ gpm.post.id }}>{{ 'Gesehen'|trans({}, 'admin') }}</button>
                                    <button class="small inline" x-report-action="clear-gpm-reports" x-post-id={{ gpm.post.id }}>{{ 'Löschen'|trans({}, 'admin') }}</button>
                                {% endif %}
                            </div>
                            <div class="hidden cell padded rw-12" x-gpm-target="{{ gpm.post.id }}"></div>
                        </div>
                    {% endfor %}
                    {% for pm in pms %}
                        <div class="row">
                            <div class="cell-small padded rw-1 hide-sm hide-md hide-lg small">
                                <i class="fa fa-building"></i>
                            </div>
                            <div class="cell-small padded rw-5 rw-lg-6 rw-md-12">
                                <span>{{ pm.post.privateMessageThread.title }}</span>
                            </div>
                            <div class="cell padded rw-2 rw-lg-3 rw-md-6">
                                <span>{{ pm.post.owner.name }}</span>
                            </div>
                            <div class="cell padded rw-1 hide-sm hide-md hide-lg">
                                <span>{{ pm.count }}</span>
                            </div>
                            <div class="cell padded rw-4 rw-sm-12">
                                {% set iteration = 0 %}
                                {% for reporter in pm.reporters %}
                                    {% if iteration > 0 %}
                                        <span>{{ ", " ~ reporter.name }}</span>
                                    {% else %}
                                        <span>{{ reporter.name }}</span>
                                    {% endif %}
                                    {% set iteration = iteration + 1 %}
                                {% endfor %}
                            </div>
                            <div class="cell padded rw-4 rw-md-8">
                                <button class="small inline" x-report-action="open-pm-reports" x-post-id={{ pm.post.id }}>{{ 'Öffnen'|trans({}, 'admin') }}</button>
                                {% if not bin_shown %}
                                    <button class="small inline" x-report-action="seen-pm-reports" x-post-id={{ pm.post.id }}>{{ 'Gesehen'|trans({}, 'admin') }}</button>
                                    <button class="small inline" x-report-action="clear-pm-reports" x-post-id={{ pm.post.id }}>{{ 'Löschen'|trans({}, 'admin') }}</button>
                                {% endif %}
                            </div>
                            <div class="hidden cell padded rw-12" x-pm-target="{{ pm.post.id }}"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div x-tab-group="admin-forum" x-tab-id="snippets" x-tab-target>
                <h5>{{ 'Kurztexte'|trans({},'admin') }}</h5>
                <div class="row-table">
                    <div class="row header">
                        <div class="padded cell rw-3">{{ 'ID'|trans({},'admin') }}</div>
                        <div class="padded cell rw-8">{{ 'Inhalt'|trans({},'admin') }}</div>
                    </div>
                    {% for snippet in snippets|sort((a, b) => a.lang == b.lang ? a.short <=> b.short : a.lang <=> b.lang) %}
                        <div class="row">
                            {# @var snippet \App\Entity\ForumModerationSnippet #}
                            <div class="padded cell rw-1"><i>{{ snippet.lang }}</i></div>
                            <div class="padded cell rw-2"><strong>{{ snippet.short }}</strong></div>
                            <div class="padded cell rw-8"><span class="small">{{ snippet.text }}</span></div>
                            <div class="padded cell rw-1 right">
                                <button data-purpose="edit" data-snippet-id="{{ snippet.id }}" data-snippet-lang="{{ snippet.lang }}" data-snippet="{{ snippet.text }}" data-snippet-short="{{ snippet.short }}" class="small inline"><i class="fa fa-pen"></i></button>
                                <button data-purpose="cancel" data-snippet-id="{{ snippet.id }}" class="small inline hidden"><i class="fa fa-times"></i></button>
                                <button x-delete-snippet-url="{{ path('admin_reports_remove_snippet', {id: snippet.id}) }}" class="small inline"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h5 class="" id="snipped_header_new">{{ 'Neuen Kurztext anlegen'|trans({},'admin') }}</h5>
                <h5 class="hidden" id="snipped_header_edit" data-default="{{ 'Kurztext bearbeiten ({name})'|trans({},'admin') }}"></h5>
                <div class="form">
                    <div class="row">
                        <div class="cell padded rw-3 note note-lightest">{{ 'ID'|trans({},'admin')}}</div>
                        <div class="cell padded rw-1">
                            <input id="snippet_preset_id" type="hidden" value="-1" />
                            <label><select id="snippet_lang"><option>DE</option><option>EN</option><option>FR</option><option>ES</option></select></label>
                        </div>
                        <div class="cell padded rw-8">
                            <label><input id="snippet_name" type="text" value="" placeholder="{{ 'ID eingeben'|trans({},'admin') }}" /></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell padded rw-3 note note-lightest"><label>{{ 'Inhalt'|trans({},'admin')}}</label></div>
                        <div class="cell padded rw-9">
                            <div id="numb-forum-editor"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="padded cell rw-4 ro-8">
                            <button id="snippet_save">{{ 'Speichern'|trans({},'global') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        $.html.addEventListenerAll('[x-report-action=clear-reports]', 'click', function(e,elem) {
            $.ajax.easySend( '{{ path('admin_reports_clear') }}', {postId: parseInt( elem.getAttribute('x-post-id'))},
                function () {
                    $.ajax.load(null, '{{ path('admin_reports', {opt: opt}) }}', true);
                } )
        } );

        $.html.addEventListenerAll('[x-report-action=seen-reports]', 'click', function(e,elem) {
            $.ajax.easySend( '{{ path('admin_reports_seen') }}', {postId: parseInt( elem.getAttribute('x-post-id'))},
                function () {
                    $.ajax.load(null, '{{ path('admin_reports', {opt: opt}) }}', true);
                } )
        } );

        $.html.addEventListenerAll('[x-report-action=clear-pm-reports]', 'click', function(e,elem) {
            $.ajax.easySend( '{{ path('admin_reports_mod_pm') }}', {pmid: parseInt(elem.getAttribute('x-post-id')), seen: true},
                function () {
                    $.ajax.load(null, '{{ path('admin_reports', {opt: opt}) }}', true);
                } );
        } );

        $.html.addEventListenerAll('[x-report-action=seen-pm-reports]', 'click', function(e,elem) {
            $.ajax.easySend( '{{ path('admin_reports_seen_pm') }}', {pmid: parseInt(elem.getAttribute('x-post-id'))},
                function () {
                    $.ajax.load(null, '{{ path('admin_reports', {opt: opt}) }}', true);
                } );
        } );

        $.html.addEventListenerAll('[x-report-action=clear-gpm-reports]', 'click', function(e,elem) {
            $.ajax.easySend( '{{ path('admin_reports_mod_gpm') }}', {pmid: parseInt(elem.getAttribute('x-post-id')), seen: true},
                function () {
                    $.ajax.load(null, '{{ path('admin_reports', {opt: opt}) }}', true);
                } );
        } );

        $.html.addEventListenerAll('[x-report-action=seen-gpm-reports]', 'click', function(e,elem) {
            $.ajax.easySend( '{{ path('admin_reports_seen_gpm') }}', {pmid: parseInt(elem.getAttribute('x-post-id'))},
                function () {
                    $.ajax.load(null, '{{ path('admin_reports', {opt: opt}) }}', true);
                } );
        } );

        $.html.addEventListenerAll('[x-report-action=open-pm-reports]', 'click', function(e,elem) {
            const pm_id = parseInt( elem.getAttribute('x-post-id'));
            let target = document.querySelector('[x-pm-target="' + pm_id + '"]');
            if (!target) return;

            $.html.forEach( '[x-pm-target],[x-gpm-target]', e => {
                e.innerHTML = '';
                e.classList.add('hidden')
            } );
            $.html.forEach( '[x-report-action="open-pm-reports"],[x-report-action="open-gpm-reports"]', e => e.classList.remove('hidden') );

            elem.classList.add('hidden');
            target.innerHTML = '<div class="center"><i class="fa fa-pulse fa-spinner"></i></div>';
            target.classList.remove('hidden');

            $.ajax.background().load(target, '{{ path('admin_pm_viewer')|e('js') }}', false, {pmid: pm_id})
        } );

        $.html.addEventListenerAll('[x-report-action=open-gpm-reports]', 'click', function(e,elem) {
            const pm_id = parseInt( elem.getAttribute('x-post-id'));
            let target = document.querySelector('[x-gpm-target="' + pm_id + '"]');
            if (!target) return;

            $.html.forEach( '[x-pm-target],[x-gpm-target]', e => {
                e.innerHTML = '';
                e.classList.add('hidden')
            } );
            $.html.forEach( '[x-report-action="open-pm-reports"],[x-report-action="open-gpm-reports"]', e => e.classList.remove('hidden') );

            elem.classList.add('hidden');
            target.innerHTML = '<div class="center"><i class="fa fa-pulse fa-spinner"></i></div>';
            target.classList.remove('hidden');

            $.ajax.background().load(target, '{{ path('admin_gpm_viewer')|e('js') }}', false, {pmid: pm_id})
        } );

        $.html.addEventListenerAll('#snippet_save','click',() => {
            $.ajax.easySend( '{{ path('admin_reports_add_snippet') }}', {
                    edit: parseInt(document.getElementById('snippet_preset_id').value),
                    id: document.getElementById('snippet_name').value,
                    lang: document.getElementById('snippet_lang').value,
                    content: document.getElementById('numb-forum-editor-text').value,
                },
                function () {
                    $.ajax.load(null, '{{ path('admin_reports', {tab: 'snippets', opt: opt}) }}', true);
                } );
        });
        $.html.addEventListenerAll('[x-delete-snippet-url]','click',(e,elem) => {
            $.ajax.easySend( elem.getAttribute('x-delete-snippet-url'), {},
                function () {
                    $.ajax.load(null, '{{ path('admin_reports', {tab: 'snippets', opt: opt}) }}', true);
                } );
        });
        $.html.addEventListenerAll('[data-purpose="edit"]','click',(e,elem) => {
            document.getElementById('numb-forum-editor-text').value = elem.dataset.snippet;
            document.getElementById('snippet_preset_id').value = elem.dataset.snippetId;
            document.getElementById('snippet_lang').value = elem.dataset.snippetLang.toUpperCase();
            document.getElementById('snippet_name').value = elem.dataset.snippetShort;

            document.getElementById('numb-forum-editor-text').scrollIntoView();
            document.getElementById('numb-forum-editor-text').dispatchEvent( new Event('input', {
                bubbles: true,
                cancelable: true,
            }) );

            document.getElementById('snipped_header_edit').innerText = document.getElementById('snipped_header_edit').dataset['default'].replace('{name}', elem.dataset.snippetShort);
            document.getElementById('snipped_header_new').classList.add('hidden');
            document.getElementById('snipped_header_edit').classList.remove('hidden');

            elem.classList.add('hidden');
            document.querySelector('[data-purpose="cancel"][data-snippet-id="' + elem.dataset.snippetId + '"]').classList.remove('hidden');
        });
        $.html.addEventListenerAll('[data-purpose="cancel"]','click',(e,elem) => {
            document.getElementById('numb-forum-editor-text').value = '';
            document.getElementById('snippet_preset_id').value = '-1';
            document.getElementById('snippet_name').value = '';

            document.getElementById('numb-forum-editor-text').dispatchEvent( new Event('input', {
                bubbles: true,
                cancelable: true,
            }) );

            document.getElementById('snipped_header_edit').innerText = '';
            document.getElementById('snipped_header_new').classList.remove('hidden');
            document.getElementById('snipped_header_edit').classList.add('hidden');

            elem.classList.add('hidden');
            document.querySelector('[data-purpose="edit"][data-snipped-id=' + elem.dataset.snippetId + ']').classList.remove('hidden');
        });

        $.ajax.no_history().load( document.getElementById('numb-forum-editor'), '{{ url('admin_numb_editor') }}', false )
    </script>
{% endblock %}